<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean definitions go here -->
    <bean id="tyre1Bean" class="com.vehicle.vehicle.vehicleparts.Tyres">
        <property name="name" value="MRF"/>
        <property name="place" value="India"/>
        <property name="message" value="Make in India"/>
    </bean>

    <bean id="ToyotaBean" class="com.vehicle.vehicle.vehicleparts.ToyotaEngine">
        <property name="company" value="Toyota"/>
        <property name="cost" value="300000.00"/>
    </bean>

    <bean id="tyre2Bean" class="com.vehicle.vehicle.vehicleparts.Tyres">
        <property name="name" value="TVS"/>
        <property name="place" value="India"/>
        <property name="message" value="Make in India"/>
    </bean>

    <bean id="InjectwithSetter" class="com.vehicle.vehicle.vehicleparts.Vehicle">
        <property name="engine" ref="ToyotaBean"/>
        <property name="tyre" ref="tyre1Bean"/>
    </bean>

    <bean id="InjectwithConstructor" class="com.vehicle.vehicle.vehicleparts.Vehicle">
        <constructor-arg name="engine" ref="ToyotaBean"/>
        <constructor-arg name="tyre" ref="tyre2Bean"/>
    </bean>

</beans>

